<% layout(`layouts/boilerplate`) %>
<link rel="stylesheet" href="/Css/fileInput.css" />

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-12 col-sm-6 offset-sm-3">
    <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="campground[title]" id="title" placeholder="Title" value="<%= camp.title %>" required />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please input a title</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" name="campground[location]" id="location" placeholder="location" value="<%= camp.location %>" required />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please input a location</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" name="campground[price]" aria-describedby="price-label" value="<%= camp.price %>" required />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please input a price</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="campground[description]" id="description" placeholder="description" required><%= camp.description %></textarea>
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please input a description</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Add more images</label>
        <div class="input-group custom-file-button">
          <label class="input-group-text" for="image">Browse</label>
          <input class="form-control" type="file" name="image" id="image" multiple />
        </div>
      </div>
      <div class="mb-3">
        <% camp.images.forEach(function(img, i) { %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input class="form-check-input ms-1" type="checkbox" value="<%= img.filename %>" name="deleteImages[]" id="image-<%=i%>" />
          <label class="form-check-label" for="image-<%=i%>"> Delete </label>
        </div>
        <% }) %>
      </div>
      <div class="mb-3"><button class="btn btn-info">Update Campground</button></div>
    </form>
    <footer><a href="/campgrounds/<%= camp._id %> ">Back to Campground</a></footer>
  </div>
</div>
