<% layout(`layouts/boilerplate`) %>
<div id="cluster-map" class="mt-0"></div>
<h1>All campgrounds</h1>
<% for (let c of camps) {%>
<div class="card mb-3">
  <div class="row">
    <div class="col-lg-4">
      <% if(c.images.length===0) {%>
      <img crossorigin="anonymous" class="img-fluid w-100" src="https://cdn.sanity.io/images/0vv8moc6/urologytimes/d198c3b708a35d9adcfa0435ee12fe454db49662-640x400.png?fit=crop&auto=format" alt="" />
      <% } else { %>
      <img crossorigin="anonymous" class="img-fluid w-100" src="<%= c.images[0].url %>" alt="" />
      <% } %>
    </div>
    <div class="col-lg-8">
      <div class="card-body">
        <h5 class="card-title"><%= c.title %></h5>
        <p class="card-text"><%= c.description %></p>
        <p class="card-text"><small class="text-muted"><%=c.location%></small></p>
        <a href="/campgrounds/<%= c._id %>" class="btn btn-primary">View <%= c.title %> </a>
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const mapToken = `<%-process.env.MAPBOX_TOKEN%>`;
  const campgrounds = {features: <%- JSON.stringify(camps) %>};
</script>

<script src="/js/clusterMap.js"></script>
